<h1 mat-dialog-title>Configure Compliance Rule</h1>
<div mat-dialog-content>
  <div>
    <h4>Compliance Rule {{data.id}}</h4>
    <h5>Description:</h5>
    <p>{{data.description}}</p>
    <h5>Parameters:</h5>
    <form>
      <div *ngFor="let parameter of data.parameters">
        <mat-form-field  appearance="fill">
          <div>{{parameter.name}}:<input matInput placeholder="{{parameter.name}}" value="{{parameter.type}}"></div>
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
