<h1 mat-dialog-title>Configure Compliance Rule</h1>
<div mat-dialog-content>
  <div>
    <h4>Compliance Rule {{this.utils.getId(data)}}</h4>
    <h5>Description:</h5>
    <p>{{data.description}}</p>
    <div *ngIf="this.complianceRuleParameters.length > 0">
    <h5>Parameter Assignment:</h5>

      <div *ngFor="let parameter of this.complianceRuleParameterAssignments">
          Name:{{parameter.name}} Type: {{parameter.type}}
        <br>
         <input matInput type="text" value="{{parameter.value}}">
        <br>
      </div>

    </div>
  </div>
  <div>



</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="storeComplianceRuleConfiguration()">Ok</button>
</div>
