<div class="content">
  <button mat-raised-button color="primary" (click)="openCreateComplianceRuleDialog('0ms', '0ms')">
    Add Compliance Rule
  </button>
  <div class="listContainer">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let complianceRule of complianceRules; first as isFirst" [expanded]="isFirst">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{complianceRule.name}} ({{this.utils.getId(complianceRule)}})
          </mat-panel-title>
          <mat-panel-description>{{complianceRule.description}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="property">
          <div class="property-label">
            ID:
          </div>
          <span class="property-value">{{this.utils.getId(complianceRule)}}</span>
        </div>
        <div class="property">
          <div class="property-label">
            Name:
          </div>
          <span class="property-value">{{complianceRule.name}}</span>
        </div>
        <div class="property">
          <div class="property-label">
            Type:
          </div>
          <span class="property-value">{{complianceRule.type}}</span>
        </div>
        <div class="property">
          <div class="property-label">
            Location:
          </div>
          <span class="property-value">{{complianceRule.location}}</span>
        </div>
        <div class="property">
          <div class="property-label">
            Description:
          </div>
          <p class="property-value">{{complianceRule.description}}</p>
        </div>
        <div class="expansion-panel-buttons">
          <button mat-raised-button>CONFIGURE</button>
          <button mat-raised-button color="warn" (click)="deleteComplianceRule(complianceRule)">DELETE</button>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
    <span *ngIf="complianceRules.length == 0">
      No compliance rules are created yet!
    </span>
  </div>
</div>
