<h1 mat-dialog-title>Create Compliance Rule</h1>
<div mat-dialog-content>
  <div>

    <button mat-button (click)="fillTestData()">Create Test Data</button>


    <h4>name:</h4>
    <input matInput type="text" [(ngModel)]="name"/>

    <br>

    <h4>Type:</h4>
    <input matInput type="text" [(ngModel)]="type"/>

    <br>

    <h4>Location:</h4>
    <input matInput type="text" [(ngModel)]="location"/>

    <br>
    <h4>Description:</h4>
    <textarea matInput type="text" [(ngModel)]="description">
    </textarea>

    <br>

    <h4>Add new Compliance Rule Parameter:</h4>
    <input matInput type="text" [(ngModel)]="newComplianceRuleParameterName"/>
    <mat-select [(value)]="this.newType">
      <mat-option *ngFor="let possibleType of ['INT' , 'DECIMAL' , 'STRING' , 'STRING_LIST' , 'BOOLEAN']" value="{{possibleType}}">
        {{possibleType}}
      </mat-option>
    </mat-select>
    <button mat-button (click)="createNewProperty()" disabled="{{newComplianceRuleParameterName == undefined || newComplianceRuleParameterName.length == 0}}">
      Add Parameter
    </button>
    <br>
    <div *ngIf="this.complianceRuleParameters.length > 0">
    <h4>Parameter:</h4>
    <div *ngFor="let complianceRuleParameter of this.complianceRuleParameters">
      {{complianceRuleParameter.name}}:{{complianceRuleParameter.type}}
    </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button  cdkFocusInitial (click)="closeDialog()">Ok</button>
</div>
