<button mat-raised-button (click)="openCreateSystemDialog('0ms', '0ms')">Add Production System</button>
<div *ngFor="let productionSystem of productionSystemEntities; let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>ProductionSystemId: {{this.utils.getId(productionSystem)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Description:</h4>
      <p>{{productionSystem.description}}</p>
      <h4>IaC Technology:</h4>
      <p>{{productionSystem.iacTechnologyName}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openConfigureProductionSystemDialog(productionSystem,'0ms', '0ms')">CONFIGURE</button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>
