<h1 mat-dialog-title>Configure Compliance Rule</h1>
<div mat-dialog-content>
  <div>
    <button mat-button (click)="fillInTestData()">Create Test Data</button>

    <h4>Compliance Rule Configuration {{this.utils.getId(this.data)}}</h4>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Issue Type:</mat-label>
        <input matInput [(ngModel)]="this.issueType" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
    </form>

    <h5>Parameter Assignments:</h5>
    <div *ngIf="this.complianceRuleParameterAssignments.length > 0">
      <form>
        <mat-form-field *ngFor="let parameter of this.complianceRuleParameterAssignments" appearance="fill">
          <mat-label>{{parameter.name}}:</mat-label>
          <input matInput [(ngModel)]="parameter.value" [ngModelOptions]="{standalone: true}"/>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div>


  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button cdkFocusInitial (click)="storeComplianceRuleConfiguration()">Ok</button>
  </div>
