<h1 mat-dialog-title>Register Production System</h1>
<div mat-dialog-content>

  <h4>Name:</h4>
  <input matInput type="text" [(ngModel)]="name"/>

  <h4>IaC Technology:</h4>
  <input matInput type="text" [(ngModel)]="iacTechnologyName"/>

  <br>
  <h4>Description:</h4>
  <textarea matInput type="text" [(ngModel)]="description">
    </textarea>

  <mat-divider style="width: 100%; display: inline-block;"></mat-divider>
  <span style="padding: 20px; font-weight: 500;">Select Creation Plugin</span>
  <mat-divider style="width: 100%; display: inline-block;"></mat-divider>

  <app-plugin-usage (selectedPluginIdentifierEvent)="updatePluginUsage($event)" [pluginType]="'MODEL_CREATION'"></app-plugin-usage>

  <mat-divider style="width: 100%; display: inline-block;"></mat-divider>
  <span style="padding: 20px; font-weight: 500;">Add Production System Properties</span>
  <mat-divider style="width: 100%; display: inline-block;"></mat-divider>


  <app-kv (keyValueEntities)="updateKeyValueEntities($event)"></app-kv>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button cdkFocusInitial (click)="closeDialog()">Ok</button>
</div>
