<div>
<h4>Select {{this.pluginType}} Plugin:</h4>
<mat-select [(value)]="this.selectedPluginIdentifier" (selectionChange)="pluginChanged()">
  <mat-option *ngFor="let plugin of allPlugins" value="{{plugin.identifier}}">
    {{plugin.identifier}}
  </mat-option>
</mat-select>

  <h4>Add new Plugin Configuration Parameter:</h4>
  <input matInput type="text" [(ngModel)]="newKeyName"/>
  <button mat-button (click)="storePluginConfigurationEntity({name: newKeyName},newKeyName, '')" disabled="{{newKeyName == undefined || newKeyName.length == 0}}">
    Add Parameter
  </button>
  <br>
  <div *ngIf="this.selectedPluginIdentifier.length > 0 && this.pluginUsageConfigurations.length > 0">
  <h4>Properties:</h4>
  <div *ngFor="let pluginConfiguration of pluginUsageConfigurations">
    {{pluginConfiguration.key}}:
    <input matInput type="text" [(ngModel)]="pluginConfiguration.value" (keyup)="updateWhenStopped($event, pluginConfiguration)"/>
  </div>
  </div>
</div>
