<div>
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let validationPlugin of allValidationPlugins" value="{{validationPlugin.identifier}}">
        {{validationPlugin.identifier}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="addValidationPlugin(selected)">ADD</button>
  <mat-accordion *ngIf="addedValidationPlugins.length > 0">
    <mat-expansion-panel *ngFor="let validationPlugin of addedValidationPlugins; let i = index" [expanded]="i == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Validation Plugin {{i + 1}}: {{validationPlugin.identifier}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        This plugin does not perform any actual validation!
      </p>
      <div class="expansion-panel-buttons">
        <button mat-raised-button color="warn" (click)="removeValidationPlugin(validationPlugin)">DELETE</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
