<h1 mat-dialog-title>Create Compliance Job</h1>
<div mat-dialog-content>
  <div>
    <h2>{{data.id}}</h2>
    <h3>Parameters</h3>
    <form>
      <div *ngFor="let parameter of data.parameters">
        <mat-form-field  appearance="fill">
          {{parameter.key}}:<br>
          <input matInput placeholder="{{parameter.key}}" value="{{parameter.value}}">
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
