<h1 mat-dialog-title>Create Compliance Job</h1>
<div mat-dialog-content>
  <div>
    <h2>{{data.identifier}}</h2>
    <h3>Parameters</h3>
    <form>
      <div *ngFor="let parameter of data.configurationEntryNames">
        <mat-form-field  appearance="fill">
          {{parameter}}:<br>
          <input matInput placeholder="{{parameter}}" value="{{parameter}}">
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
