<h1 mat-dialog-title>Configure Checking Plugin</h1>
<div mat-dialog-content>
  <div>
    <h4>Checking Plugin {{data.identifier}}</h4>
    <form>
      <div *ngIf="data != undefined">

        <br>
        <div *ngIf="data.requiredConfigurationEntryNames != undefined && data.requiredConfigurationEntryNames.length != 0">
        <h4>Properties:</h4>
        <div *ngFor="let property of data.requiredConfigurationEntryNames">
          {{property}}:
          <input matInput type="text"/>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
