<mat-toolbar color="primary" class="toolbar">
  <span>IACMF</span>
  <span class="spacer"></span>
  <a href="https://www.iaas.uni-stuttgart.de/forschung/projekte/iacc/"><img src="../assets/images/logo.png" alt="logo"></a>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Production Systems">
    <app-production-systems></app-production-systems>
  </mat-tab>
  <mat-tab label="Compliance Rules">
    <app-compliance-rules [allowCreate]="true" [allowSelection]="false" [showAllRules]="true"></app-compliance-rules>
  </mat-tab>
  <mat-tab label="Compliance Jobs">
    <app-compliancejobs></app-compliancejobs>
  </mat-tab>
</mat-tab-group>
