<h1>IACMF</h1>

<mat-tab-group>
  <mat-tab label="Production Systems">
    <app-production-systems></app-production-systems>
  </mat-tab>
  <mat-tab label="Compliance Rules">
    <app-compliance-rules [allowCreate]="true" [allowSelection]="false" [showAllRules]="true"></app-compliance-rules>
  </mat-tab>
  <mat-tab label="Compliance Jobs">
    <app-compliancejobs></app-compliancejobs>
  </mat-tab>
  <mat-tab label="Execution">
    <app-execution></app-execution>
  </mat-tab>
  <mat-tab label="Triggers">
    <a routerLink="/triggers">Triggers</a>
  </mat-tab>
</mat-tab-group>
