<div>
  <mat-form-field appearance="fill" class="compliance-job-item-selector">
    <mat-label>Select a Production System</mat-label>
    <mat-select [(value)]="this.selected">
      <mat-option *ngFor="let productionSystem of productionSystemEntities"
                  value="{{this.utils.getId(productionSystem)}}" (click)="emitProductionSystem()">
        {{this.productionSystem.name + ' (id: ' + this.utils.getId(productionSystem) +')'}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="this.selected >= 0">
    <div *ngFor="let productionSystem of this._filter(this.selected)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{this.productionSystem.name}} (id: {{this.utils.getId(productionSystem)}})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="property">
            <div class="property-label">ID:</div>
            <span class="property-value">{{this.utils.getId(productionSystem)}}</span>
          </div>
          <div class="property">
            <div class="property-label">Name:</div>
            <span class="property-value">{{productionSystem.name}}</span>
          </div>
          <div class="property">
            <div class="property-label">IaC Technology:</div>
            <span class="property-value">{{productionSystem.iacTechnologyName}}</span>
          </div>
          <div class="property">
            <div class="property-label">Description:</div>
            <span class="property-value">{{productionSystem.description}}</span>
          </div>        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>
  <div *ngIf="this.selected == -1">
    <span style="color: red">No production system is selected yet! Please select one...</span>
  </div>
</div>




