<h1 mat-dialog-title>Create Compliance Job</h1>
<div mat-dialog-content>
  <div>
    <h4>{{data.identifier}}</h4>
    <h5>Parameters:</h5>
    <form *ngIf="data.configurationEntryNames != undefined">
      <div *ngFor="let parameter of data.configurationEntryNames">
        <mat-form-field  appearance="fill">
          {{parameter}}:<br>
          <input matInput placeholder="{{parameter}}" value="{{parameter}}">
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
