<div>
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let reportingPlugin of reportingPluginDummies" value="{{reportingPlugin.id}}">
        {{reportingPlugin.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addReportingPlugin(selected)">ADD</button>
  <mat-card *ngFor="let reportingPlugin of addedReportingPlugins">
    <mat-card-header>
      <mat-card-title>{{reportingPlugin.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openConfigureReportingPlugin(reportingPlugin,'0ms', '0ms')">CONFIGURE</button>
      <button mat-button (click)="removeReportingPlugin(reportingPlugin)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
