<form>
  <mat-form-field appearance="fill" class="compliance-job-item-selector">
    <mat-label>Select Compliance Rule</mat-label>
    <mat-select [(value)]="selectedRule">
      <mat-option *ngFor="let complianceRule of complianceRules" [value]="this.utils.getId(complianceRule)">
        {{complianceRule.name}} (id: {{this.utils.getId(complianceRule)}})
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="createComplianceRuleConfiguration(selectedRule);">ADD</button>
</form>

<div *ngIf="addedComplianceRuleConfigurations && addedComplianceRuleConfigurations.length > 0">
  <mat-accordion *ngIf="addedComplianceRuleConfigurations && addedComplianceRuleConfigurations.length > 0">
    <mat-expansion-panel *ngFor="let complianceRuleConfiguration of addedComplianceRuleConfigurations; index as i" [expanded]="i == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{rulesOfAddedRuleConfigurations[i].name}}
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="!complianceRuleConfiguration.issueType || complianceRuleConfiguration.issueType.length == 0"
                style="color: red">
          Please configure the issue type!
            </span>
          <span *ngIf="complianceRuleConfiguration.issueType && complianceRuleConfiguration.issueType.length > 0">
            (Issue Type: {{complianceRuleConfiguration.issueType}})
            </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="property">
        <div class="property-label">
          Rule ID:
        </div>
        <span class="property-value">{{this.utils.getId(rulesOfAddedRuleConfigurations[i])}}</span>
      </div>
      <div class="property">
        <div class="property-label">
          Rule Configuration ID:
        </div>
        <span class="property-value">{{this.utils.getId(complianceRuleConfiguration)}}</span>
      </div>

      <div class="property">
        <div class="property-label">
          Rule Type
        </div>
        <span class="property-value">{{rulesOfAddedRuleConfigurations[i].type}}</span>
      </div>

      <div class="property">
        <div class="property-label">
          Issue Type
        </div>
        <span class="property-value" *ngIf="complianceRuleConfiguration.issueType.length > 0">
            {{complianceRuleConfiguration.issueType}}
          </span>
        <span class="property-value" style="color: red" *ngIf="complianceRuleConfiguration.issueType.length == 0">
            Empty. Please Specify!
          </span>
      </div>

      <div class="expansion-panel-buttons">
        <button mat-raised-button
                (click)="openConfigureComplianceRuleDialog(complianceRuleConfiguration, rulesOfAddedRuleConfigurations[i],'0ms', '0ms')">
          CONFIGURE
        </button>
        <button mat-raised-button color="warn" (click)="removeComplianceRuleConfiguration(complianceRuleConfiguration)">
          DELETE
        </button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="!addedComplianceRuleConfigurations || addedComplianceRuleConfigurations.length == 0" style="color: red">
  No compliance rules have been selected yet! At least 1 compliance rule must be selected!
</div>
