<div>

  <form>
    <mat-form-field appearance="fill" class="compliance-job-item-selector">
      <mat-label>Select Compliance Rule</mat-label>
      <mat-select [(value)]="selectedRule">
        <mat-option *ngFor="let complianceRule of complianceRules" [value]="this.utils.getId(complianceRule)">
          {{complianceRule.name}} (id: {{this.utils.getId(complianceRule)}})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="createComplianceRuleConfiguration(selectedRule);">ADD</button>
  </form>
  <div *ngFor="let complianceRuleConfiguration of addedComplianceRuleConfigurations | keyvalue">
    <mat-card *ngIf="this.utils.getId(complianceRuleConfiguration.value) != undefined">
      <mat-card-header>
        <mat-card-title>{{complianceRuleConfiguration.key}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="property">
          <div class="property-label">
            Rule ID:
          </div>
          <span class="property-value">{{this.utils.getId(this.getRuleByName(complianceRuleConfiguration.key))}}</span>
        </div>
        <div class="property">
          <div class="property-label">
            Rule Configuration ID:
          </div>
          <span class="property-value">{{this.utils.getId(complianceRuleConfiguration.value)}}</span>
        </div>

        <div class="property">
          <div class="property-label">
            Rule Type
          </div>
          <span class="property-value">{{this.getRuleByName(complianceRuleConfiguration.key).type}}</span>
        </div>

        <div class="property">
          <div class="property-label">
            Issue Type
          </div>
          <span class="property-value" *ngIf="complianceRuleConfiguration.value.issueType.length > 0">
            {{complianceRuleConfiguration.value.issueType}}
          </span>
          <span class="property-value" style="color: red" *ngIf="complianceRuleConfiguration.value.issueType.length == 0">
            Empty. Please Specify!
          </span>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openConfigureComplianceRuleDialog(complianceRuleConfiguration.value,'0ms', '0ms')">
          CONFIGURE
        </button>
        <button mat-raised-button color="warn" (click)="removeComplianceRuleConfiguration(complianceRuleConfiguration.key, complianceRuleConfiguration.value)">
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
</div>
