<div>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Create new Configuration from Rule:</mat-label>
      <mat-select [(value)]="selectedRule">
        <mat-option *ngFor="let complianceRule of complianceRules" [value]="this.utils.getId(complianceRule)">
          Rule {{this.utils.getId(complianceRule)}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Issue Type:</mat-label>
      <input matInput [(ngModel)]="this.issueType" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button mat-button (click)="createComplianceRuleConfiguration(selectedRule);">ADD</button>
  </form>
  <div *ngFor="let complianceRuleConfiguration of addedComplianceRuleConfigurations">
    <mat-card *ngIf="this.utils.getId(complianceRuleConfiguration) != undefined">
      <mat-card-header>
        <mat-card-title>Compliance Rule Configuration {{this.utils.getId(complianceRuleConfiguration)}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          IssueType: {{complianceRuleConfiguration.issueType}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openConfigureComplianceRuleDialog(complianceRuleConfiguration,'0ms', '0ms')">
          CONFIGURE
        </button>
        <button mat-button (click)="removeComplianceRuleConfiguration(complianceRuleConfiguration)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
</div>
