<form>
  <mat-form-field appearance="fill">
    <mat-label>Select Issue Type:</mat-label>
    <mat-select [(value)]="selectedIssueType">
      <mat-option *ngFor="let entry of issueTypeToPluginMap | keyvalue" [value]="entry.key">
        {{entry.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select Fixing Plugin:</mat-label>
    <mat-select [(value)]="selectedPluginId">
      <mat-option *ngFor="let pluginId of this.getPluginsByIssueType(this.selectedIssueType)" [value]="pluginId">
        {{pluginId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createIssueFixingConfiguration();"
          [disabled]="!selectedIssueType || !selectedPluginId">Create Fixing Configuration
  </button>
</form>

<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let fixingConfiguration of issueFixingConfigurations; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Issue Fixing Configuration (Issue Type: {{fixingConfiguration.issueType}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-plugin-usage #pluginUsages [pluginType]="'ISSUE_FIXING'" (selectedPluginIdentifierEvent)="pluginConfigurationCreated($event, i)"
                        [showHeader]="false" [canChangeIdentifier]="false" [pluginIdentifier]="selectedPluginUsages[i].pluginIdentifier" ></app-plugin-usage>
      <div class="expansion-panel-buttons">
        <button mat-raised-button color="warn" (click)="removeFixingConfiguration(i)">DELETE</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
