<button id="create" mat-raised-button color="accent" (click)="executeComplianceJob()">Start Execution</button>

<div class="executions">
  <span *ngIf="executions.length == 0">No executions exist yet!</span>
  <div *ngIf="executions.length > 0">
    <div class="property-label" style="margin-bottom: 0.5em;">
      Current and Previous Executions
    </div>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let execution of executions; let i = index;"
                           [expanded]="!execution.currentStep.includes('END')">
        <mat-expansion-panel-header>
          <mat-panel-title>Execution: {{execution.id}}</mat-panel-title>
          <mat-panel-description>
            <span style="margin-right: 1em">State: </span>
            <span [ngClass]="getSummaryClassName(execution)">{{getShortSummary(execution)}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>



        <div class="property">
          <div class="property-label">State:</div>
          <span [ngClass]="['property-value',  getSummaryClassName(execution)]">{{getShortSummary(execution)}}</span>
        </div>

        <div *ngIf="!execution.currentStep.includes('END')" class="property">
          <div class="property-label">Current Step:</div>
          <span class="property-value">{{execution.currentStep}}</span>
        </div>

        <div class="property">
          <div class="property-label">Description:</div>
          <span class="property-value">{{execution.description}}</span>
        </div>

        <div class="property">
          <div class="property-label">Instance Model:</div>
          <span *ngIf="!execution.instanceModel" class="property-value">Not available!</span>
          <button *ngIf="execution.instanceModel" type="button" class="buttonToLink property-value"
                  (click)="downloadInstanceModel(execution.instanceModel, 'instanceModel_' + execution.id + '.yaml')">
            (Click here to download)
          </button>

          <button *ngIf="execution.instanceModel" type="button" class="buttonToLink property-value"
                  (click)="sendInstanceModelToWinery(execution.instanceModel, 'instanceModel_' + execution.id)">
            (Click here to visualize)
          </button>
        </div>



        <div class="property">
          <div class="property-label"> Started:</div>
          <span class="property-value">{{execution.startTime}}</span>
        </div>

        <div *ngIf="execution.endTime" class="property">
          <div class="property-label"> Ended:</div>
          <span class="property-value">{{execution.endTime}}</span>
        </div>

        <div class="property">
          <div class="property-label">Compliance Violations:</div>
          <span *ngIf="execution.violationsDetected" class="property-value color-warn"> Violations were detected!</span>
          <span *ngIf="!execution.violationsDetected" class="property-value color-success"> No violations were detected.</span>
        </div>

        <div *ngIf="execution.complianceIssueEntities && execution.complianceIssueEntities.length > 0" >
          <div class="property-label" style="margin-bottom: 0.5em;">
            Detected Compliance Violations
          </div>

          <mat-accordion >
            <mat-expansion-panel *ngFor="let issue of execution.complianceIssueEntities">
              <mat-expansion-panel-header>
                <mat-panel-title>Violation Id: {{issue.id}}</mat-panel-title>
                <mat-panel-description>
                  <span [ngClass]="getIssueSummaryClassName(execution, issue)">{{getIssueSummary(execution, issue)}}</span>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="property">
                <div class="property-label">Id:</div>
                <span class="property-value">{{issue.id}}</span>
              </div>
              <div class="property">
                <div class="property-label">Compliance Rule:</div>
                <span class="property-value">{{getComplianceRuleName(issue)}} </span>
              </div>
              <div class="property">
                <div class="property-label">Issue Type:</div>
                <span class="property-value">{{issue.type}}</span>
              </div>
              <div class="property">
                <div class="property-label">
                  Violation Details:
                </div>
                <span class="property-value" *ngIf="!issue.properties || issue.properties.length == 0">No details available!</span>
                <div class="property-value" *ngIf="issue.properties && issue.properties.length > 0">
                  <ul>
                    <li *ngFor="let property of issue.properties">
                      <span>{{property.key + ': ' + property.value}}</span>
                    </li>
                  </ul>
                </div>

              </div>
              <div *ngIf="issue.fixingReports && issue.fixingReports.length > 0">
                <div class="property">
                  <div class="property-label"> Fixing Report:</div>
                    <div class="property">
                      <div class="property-label">
                        Description:
                      </div>
                      <span class="property-value">{{issue.fixingReports[0].description}}</span>
                    </div>
                    <div class="property">
                      <div class="property-label">
                        Fixing:
                      </div>
                      <span class="property-value color-success" *ngIf="issue.fixingReports[0].isSuccessful">Successful</span>
                      <span class="property-value color-fail" *ngIf="!issue.fixingReports[0].isSuccessful">Failed</span>
                    </div>
                  </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

