<button mat-raised-button (click)="openCreateExecutionDialog('0ms', '0ms')">Start Execution</button>
<div *ngFor="let execution of executions; let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Execution: {{execution.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            Details
          </mat-expansion-panel-header>
          Description: <br>
          {{execution.description}}<br><br>
          State:
          <div *ngIf="execution.status.includes('EXCEPTION')" style="color: darkred">{{execution.status}}</div>
          <div *ngIf="execution.status.includes('SUCCESS')" style="color: green">{{execution.status}}</div>
          <div *ngIf="!execution.status.includes('EXCEPTION') && !execution.status.includes('SUCCESS')" style="color: orange">{{execution.status}}</div>

          <div *ngIf="!execution.currentStep.includes('END')">
            Current Step: {{execution.currentStep}}
          </div>
          <br>
          <div *ngIf="execution.violationsDetected"> Violations were detected</div>
          <div *ngIf="!execution.violationsDetected"> No violations were detected</div>
          <br>
          Started: {{execution.startTime}} <div *ngIf="execution.endTime">Ended: {{execution.endTime}}</div>

          <div *ngIf="execution.complianceIssueEntities && execution.complianceIssueEntities.length > 0">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Detected Compliance Issues
              </mat-expansion-panel-header>
              <div *ngFor="let issue of execution.complianceIssueEntities">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>Issue: {{issue.id}}</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Type: {{issue.type}}
                    <div *ngIf="issue.fixingReports && issue.fixingReports.length > 0">
                      Reports:
                      <div *ngFor="let report of issue.fixingReports">
                        Id: {{report.id}}
                        Description: {{report.description}}
                        Fixing: <div *ngIf="report.isSuccessful" style="color: green"> Successful</div> <div *ngIf="!report.isSuccessful" style="color: darkred"> Successful</div>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>
              </div>
            </mat-expansion-panel>

          </div>

        </mat-expansion-panel>

      </mat-accordion>

    </mat-card-content>

  </mat-card>
  <br>
</div>
