/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.property-label {
  font-weight: bold;
}

.property-value {
  font-weight: normal;
}

.property {
  margin-bottom: 1em;
}

.listContainer {
  margin-top: 2em;
  width: 70%;
}

.content {
  margin: 2em 0 0 0.5em;
  padding-bottom: 1em;
}

.compliance-job-item-selector  {
  width: 25%;
}

