/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.property-label {
  font-weight: bold;
}

.property-value {
  font-weight: normal;
}

.property {
  margin-bottom: 1em;
}

.listContainer {
  margin-top: 2em;
  width: 70%;
}

.content {
  margin: 2em 0 0 0.5em;
  padding-bottom: 1em;
}

.compliance-job-item-selector  {
  width: 25%;
}

.expansion-panel-buttons {
  margin-top: 3em;
}

.expansion-panel-buttons button:not(:first-of-type) {
  margin-left: 1em;
}

.form-field-container {
  width: 100%;
}

.form-field-container mat-form-field {
  width: 50%;
}

.color-normal {
  color: darkblue;
}

.color-success {
  color: darkgreen;
}

.color-fail {
  color: darkred;
}

.color-warn {
  color: chocolate;
}

