<button mat-raised-button (click)="openNewJobDialog('0ms', '0ms')">Create new Compliance Job</button>
<div *ngFor="let complianceJob of dataSource; let i = index">
  <mat-card>
    <mat-card-header>
      <mat-card-title>ComplianceJob Id: {{this.utils.getId(complianceJob)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Name:</h4>
      <p>{{complianceJob.name}}</p>
      <h4>Description:</h4>
      <p>{{complianceJob.description}}</p>
    </mat-card-content>
  </mat-card>
  <br>
</div>

