<h1 mat-dialog-title>Create Compliance Job</h1>
<div mat-dialog-content>

  <mat-stepper  #stepper>
    <mat-step label="Production System">
      <app-select-production-sytem (selectedProductionSystem)="productionSystemSelected($event)"></app-select-production-sytem>
    </mat-step>
    <mat-step label="Refinement">
      <app-refinement-plugins (pluginAdded)="refinementPluginAdded($event)" (pluginRemoved)="refinementPluginRemoved($event)"></app-refinement-plugins>
    </mat-step>
    <mat-step  label="Compliance Rules">
      <app-compliance-rule-configuration (selectedComplianceRuleConfigurations)="complianceRulesSelected($event)"></app-compliance-rule-configuration>
    </mat-step>
    <mat-step label="Checking">
      <app-plugin-usage [pluginType]="'ISSUE_CHECKING'" (selectedPluginIdentifierEvent)="saveCheckingPluginConfiguration($event)"></app-plugin-usage>
    </mat-step>
    <mat-step  label="Compliance Issue Fixing">
      <app-issue-fixing (issueFixingConfigurationsToCreate)="this.saveIssueFixingConfigurations($event)" [complianceRuleConfigurationsSub]="this.shareNewComplianceRuleConfigurationEvents.asObservable()"></app-issue-fixing>
    </mat-step>
    <mat-step  label="Validation">
      <app-validation-plugins></app-validation-plugins>
    </mat-step>
    <mat-step  label="Reporting">
      <app-reporting-plugins></app-reporting-plugins>
    </mat-step>
    <mat-step  label="Execution">

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button cdkFocusInitial (click)="storeComplianceJob()">Ok</button>
</div>
