<h1 mat-dialog-title>Create Compliance Job</h1>
<div mat-dialog-content>
  <!--<mat-form-field>
    <mat-label>Production System</mat-label>
    <select matNativeControl required>
      <option value="1">ProductionSystem1</option>
      <option value="2">ProductionSystem2</option>
      <option value="3">ProductionSystem3</option>
      <option value="4">ProductionSystem4</option>
    </select>
  </mat-form-field>-->

  <mat-stepper  #stepper>
    <mat-step label="Refinement">

    </mat-step>
    <mat-step  label="Compliance Rules">

    </mat-step>
    <mat-step  label="Compliance Issue">

    </mat-step>
    <mat-step  label="Validation">

    </mat-step>
    <mat-step  label="Reporting">

    </mat-step>
    <mat-step  label="Execution">

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>
